Package: com.ziph0n.prayforparis
Name: PrayForParis
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Just to remember what happened on the 11/13/2015
Maintainer: Ziph0n
Author: Ziph0n
Section: Tweaks
Version: 1.0-1
Installed-Size: 352
